<html>
	<head>
		<meta char="UTF-8"></meta>
		<title>Two Column Page</title>
		<link href="https://fonts.googleapis.com/css?family=Bitter:400,700" rel="stylesheet">			
		<link href="/css/common.css" rel="stylesheet">
		<link href="/css/staffCommon.css" rel="stylesheet">
		<link href="/css/two_column_page.css" rel="stylesheet">
	</head>
	<body>
		<header>
			<div class="logo">
				THIS IS TWO COLUMN PAGE
					<span sec:authorize="hasRole('ADMIN')" style="color: red;;">
            			( 管理者 ) 
        			</span>
			</div>
			<nav>
				<ul class="global-nav">
					<li><a href="staff">Back to INDEX</a></li>
				</ul>
			</nav>
		</header>
		<div class="wrap">
			<div class="flexbox start">
				<div class="work">
					<h1>JAPAN</h1>
					<p>これまでに掲載した日本の写真です。</p>
					<section>
						<h2>
							<a href="japan.html"><img src="/img/japan.jpg" alt="JAPAN" width="700px" height="350px"></a>
						</h2>
						<p>
						自然地理的には、ユーラシア大陸の東に位置しており、環太平洋火山帯を構成する。<br>
						島嶼国であり、領土が海に囲まれているため地続きの国境は存在しない。日本列島は本州、北海道、九州、四国、沖縄島（以上本土）も含めて1万4125の島を有する。<br>
						気候区分は、北は亜寒帯から南は熱帯まで様々な気候区分に属している。<br>
						気象条件や地質構造上、様々な自然災害が発生しやすく、台風や地震などの災害被害は世界有数規模である<br>
						</p>
					</section>
					<h1>USA</h1>
					<p>これまでに掲載したアメリカの写真です。</p>
					<section>
						<h2>
							<a href="usa.html"><img src="/img/usa.jpg" alt="USA" width="700px" height="350px"></a>
						</h2>
						<p>
						アメリカ合衆国（アメリカがっしゅうこく、英語: United States of America）は、北アメリカに位置し、大西洋および太平洋に面する連邦共和制国家。<br>
						通称は米国（べいこく）またはアメリカ。略称は米（べい）。首都はコロンビア特別区（ワシントンD.C.）。<br>
						アメリカ合衆国（United States of America）の頭文字を取って「U.S.A.」もしくは「USA」、合衆国（United States）の頭文字を取って「U.S.」<br>
						もしくは「US」、または単にAmericaとも称される。<br>
						なお、「アメリカ」と言われる場合は後述の本土（48州）のみを示し、アラスカ州やハワイ州などを含まない[注釈 2]。<br>
						</p>
					</section>
				</div>
				<aside class="sidebar">
					<section>
						<h2>JAPAN</h2>
						<ul>
							<li><a href="japan#city">街➖City</a></li>
							<li><a href="japan#beach">海➖Beach</a></li>
							<li><a href="japan#forest">森➖Forest</a></li>
						</ul>
						<h2>USA</h2>
						<ul>
							<li><a href="usa#city">街➖City</a></li>
							<li><a href="usa#beach">海➖Beach</a></li>
							<li><a href="usa#forest">森➖Forest</a></li>
						</ul>					
					</section>
				</aside>			
			</div>				
		</div>
		<footer>
			<small>(C)2017 Matsuo-studio.</small>
		</footer>
	</body>
</html>
