<html>
	<head>
		<meta char="UTF-8"></meta>
		<title>USA Page</title>
		<link href="https://fonts.googleapis.com/css?family=Bitter:400,700" rel="stylesheet">			
		<link href="/css/common.css" rel="stylesheet">
		<link href="/css/staffCommon.css" rel="stylesheet">
		<link href="/css/japan.css" rel="stylesheet">
	</head>
	<body>
		<header>
			<div class="logo">
				THIS IS USA PAGE
					<span sec:authorize="hasRole('ADMIN')" style="color: red;;">
            			( 管理者 ) 
        			</span>
			</div>
			<nav>
				<ul class="global-nav">
					<li><a href="staff">Back to INDEX</a></li>
				</ul>
			</nav>
		</header>
		<div class="wrap">
			<div class="flexbox start">
				<div class="work">
					<h1>USA</h1>
					<p>これまでに掲載したアメリカの写真を掲載します。</p>
					<section id="city">
						<h2 class="icon">City</h2>
						<p>
						<ul class="photograph-list">
							<li><img src="/img/usaCity01.jpeg" alt="usaCity01" width="300px" height="300px"></li>
							<li><img src="/img/usaCity02.jpeg" alt="usaCity02" width="300px" height="300px"></li>
						</ul>
					</section>
					<section id="beach">
						<h2 class="icon">Beach</h2>
						<p>
						<ul class="photograph-list">
							<li><img src="/img/usaBeach01.jpeg" alt="usaBeach01" width="300px" height="300px"></li>
							<li><img src="/img/usaBeach02.jpeg" alt="usaBeach02" width="300px" height="300px"></li>
						</ul>
					</section>
					<section id="forest">	
						<h2 class="icon">Forest</h2>
						<p>
						<ul class="photograph-list">
							<li><img src="/img/usaForest01.jpeg" alt="usaForest01" width="300px" height="300px"></li>
						</ul>
					</section>
				</div>
				<aside class="sidebar">
					<section>
						<h2>JAPAN</h2>
						<ul>
							<li><a href="japan#city">街➖City</a></li>
							<li><a href="japan#beach">海➖Beach</a></li>
							<li><a href="japan#forest">森➖Forest</a></li>
						</ul>
						<h2>USA</h2>
						<ul>
							<li><a href="usa#city">街➖City</a></li>
							<li><a href="usa#beach">海➖Beach</a></li>
							<li><a href="usa#forest">森➖Forest</a></li>
						</ul>
						<h2>Two Column Page</h2>
						<ul>
							<li><a href="two_column_page">Two Column Page</a></li>
						</ul>				
					</section>
				</aside>			
			</div>				
		</div>
		<footer>
			<small>(C)2017 Matsuo-studio.</small>
		</footer>
	</body>
</html>
