<html>
	<head>
		<meta char="UTF-8"></meta>
		<title>Japan Page</title>
		<link href="https://fonts.googleapis.com/css?family=Bitter:400,700" rel="stylesheet">			
		<link href="/css/common.css" rel="stylesheet">
		<link href="/css/staffCommon.css" rel="stylesheet">
		<link href="/css/japan.css" rel="stylesheet">
	</head>
	<body>
		<header>
			<div class="logo">
				THIS IS JAPAN PAGE
					<span sec:authorize="hasRole('ADMIN')" style="color: red;;">
            			( 管理者 ) 
        			</span>
			</div>
			<nav>
				<ul class="global-nav">
					<li><a href="staff">Back to INDEX</a></li>
				</ul>
			</nav>
		</header>
		<div class="wrap">
			<div class="flexbox start">
				<div class="work">
					<h1>JAPAN</h1>
					<p>これまでに掲載した日本の写真を掲載します。</p>
					<section id="city">
						<h2 class="icon">City</h2>
						<p>
						<ul class="photograph-list">
							<li><img src="/img/japanCity01.jpg" alt="japanCity01" width="300px" height="300px"></li>
							<li><img src="/img/japanCity02.png" alt="japanCity02" width="300px" height="300px"></li>
							<li><img src="/img/japanCity03.jpg" alt="japanCity03" width="300px" height="300px"></li>
							<li><img src="/img/japanCity04.jpg" alt="japanCity04" width="300px" height="300px"></li>
							<li><img src="/img/japanCity05.jpg" alt="japanCity05" width="300px" height="300px"></li>
							<li><img src="/img/japanCity06.jpg" alt="japanCity06" width="300px" height="300px"></li>
						</ul>
					</section>
					<section id="beach">
						<h2 class="icon">Beach</h2>
						<p>
						<ul class="photograph-list">
							<li><img src="/img/japanBeach01.jpeg" alt="japanBeach01" width="300px" height="300px"></li>
							<li><img src="/img/japanBeach02.jpeg" alt="japanBeach02" width="300px" height="300px"></li>
							<li><img src="/img/japanBeach03.jpeg" alt="japanBeach03" width="300px" height="300px"></li>
						
					</section>
					<section id="forest">	
						<h2 class="icon">Forest</h2>
						<p>
							<ul class="photograph-list">
							<li><img src="/img/japanForest01.jpeg" alt="japanForest01" width="300px" height="300px"></li>
							<li><img src="/img/japanForest02.jpg" alt="japanForest02" width="300px" height="300px"></li>
							<li><img src="/img/japanForest03.jpg" alt="japanForest03" width="300px" height="300px"></li>
							<li><img src="/img/japanForest04.jpg" alt="japanForest04" width="300px" height="300px"></li>
							<li><img src="/img/japanForest05.jpg" alt="japanForest05" width="300px" height="300px"></li>
							<li><img src="/img/japanForest06.jpg" alt="japanForest06" width="300px" height="300px"></li>
						</ul>
						</ul>
					</section>
				</div>
				<aside class="sidebar">
					<section>
						<h2>JAPAN</h2>
						<ul>
							<li><a href="japan#city">街➖City</a></li>
							<li><a href="japan#beach">海➖Beach</a></li>
							<li><a href="japan#forest">森➖Forest</a></li>
						</ul>
						<h2>USA</h2>
						<ul>
							<li><a href="usa#city">街➖City</a></li>
							<li><a href="usa#beach">海➖Beach</a></li>
							<li><a href="usa#forest">森➖Forest</a></li>
						</ul>
						<h2>Two Column Page</h2>
						<ul>
							<li><a href="two_column_page">Two Column Page</a></li>
						</ul>					
					</section>
				</aside>			
			</div>				
		</div>
		<footer>
			<small>(C)2017 Matsuo-studio.</small>
		</footer>
	</body>
</html>
