<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	  <title>ログイン</title>
	  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
	  <link href="/css/common.css" rel="stylesheet">
</head>
	<body>
	<h1>ログイン</h1>
	
	<th:block th:if="${failureMessage eq null}">
	  <div style="height:1em;"></div>
	</th:block>
	<th:block th:unless="${failureMessage eq null}">
	  <div th:text="${failureMessage}" style="color:red;height:1em;"></div>
	</th:block>
	<th:block th:if="${session['SPRING_SECURITY_LAST_EXCEPTION'] eq null}">
	  <div style="height:1em;"></div>
	</th:block>
	<th:block th:unless="${session['SPRING_SECURITY_LAST_EXCEPTION'] eq null}">
	  <div th:text="${session['SPRING_SECURITY_LAST_EXCEPTION'].message}" style="color:red;height:1em;">ログインIDまはたパスワードが間違っています。</div>
	</th:block>
		 
	 <div style="height:1em;"></div>
	<form th:action="@{./../auth/auth}" th:method="POST" >
		  <table>
		    <tr>
		      <th>ログインID</th>
		        <td><input tpe="text" name="userId"/></td>
		    </tr>
		    <tr>
		      <th>パスワード</th>
		      <td><input type="password" name="password"/></td>
		    </tr>
		  </table>
		  <div style="height:20px;"></div>
		  <button type="submit" class="btn">ログイン</button>
		  <div style="height:5px;"></div>
		  <div><a href="./../auth/make_user">ユーザー作成</a></div>
	</form>
	</body>
</html>
