<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
        
<mapper namespace="com.practice.mapper.ContactMapper">


	<!-- マッピング定義(rooms) -->	
	<resultMap type="com.practice.entity.WContact" id="mapContactList">
	    <id column = "contact_type" property="contactType"></id>
	    <id column = "howto_contact" property="howtoContact"></id>
	    <result column="user_name" property="userName"></result>
	    <result column="mail_address" property="mailAddress"></result>
	    <result column="phone_number" property="phoneNumber"></result>
	    <result column="contact_message" property="contactMessage"></result>
	    <result column="admin_recovery" property="adminRecovery"></result>
	    <result column="contact_date" property="contactDate"></result>    	    
	    <result column="howto_contact_nm" property="howtoContactNm"></result>    	    
	    <result column="contact_type_nm" property="contactTypeNm"></result>
	</resultMap>
	       
    <select
        id="findContactList"
        resultMap="mapContactList"
        parameterType="String">
    		select
		    main.user_name,
			main.mail_address, 
			main.phone_number, 
			main.contact_message,
			main.admin_recovery,
			main.contact_date,
			sub01.dic_title1 as howto_contact_nm,
			sub02.dic_title1 as contact_type_nm 
		from 
		    t_contact main 
		left join 
		    m_dictionary sub01 on
		        sub01.dic_page = 1 
		        and sub01.dic_section  = main.howto_contact 
		left join 
		    m_dictionary sub02 on
		        sub02.dic_page = 2
		        and sub02.dic_section = main.contact_type
		where 
		    main.user_id = #{user_id}
		order by 
		    main.contact_id desc
    </select>        
            
    
     <select
        id="findMUser"
        resultType="com.practice.entity.MUser"
        parameterType="String">
        select 
			user_id as userId
			,user_name as userName
			,mail_address as mailAddress
			,phone_number as phoneNumber
			,ride_user rideUser
        from 
        	m_user 
        where 
        	user_id=#{user_id}
    </select>
    <select
        id="findContactTypeList"
        resultType="com.practice.entity.MDictionary">
        select
			dic_page as dicPage,         
        	dic_section as dicSection,
        	dic_title1 as dicTitle1
        from 
        	m_dictionary 
        where 
        	dic_page=1
    </select>
    <select
        id="findHowToContactList"
        resultType="com.practice.entity.MDictionary">
        select
            dic_page as dicPage, 
        	dic_section as dicSection,
        	dic_title1 as dicTitle1
        from 
        	m_dictionary 
        where 
        	dic_page=2
    </select>
    <insert id="insertTContact">
        insert into 
        	t_contact 
    	( 
    		user_id, 
    		user_name, 
    		mail_address, 
    		contact_type, 
    		phone_number, 
    		howto_contact,
    		contact_message,
    		contact_date
    	)
    	values(
    		#{userId}, 
    		#{userName}, 
    		#{mailAddress}, 
    		#{contactType}, 
    		#{phoneNumber}, 
    		#{howtoContact},
    		#{contactMessage},
    		now()
    	)
    </insert>
</mapper>