p {
	margin-left:10px;
}
th {
	width: 200px;
}
td {
	width: 500px;
}
a img:hover {
	opacity: 0.8;
}
.work {
	height: calc(100vh - 250px);
	width: calc(100vw - 320px);
}
.sidebar {
	height: calc(100vh - 320px);
}


